*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.form-content{
    margin-top: 100px;
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.form-container{
    padding: 20px;
    height: 50%;
    width: 100%;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 2px 2px 2px rgb(236, 225, 225);
}
h1{
    color:rgb(13, 61, 171);
    font-size: 30px;
}

form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
}

form input{
    height: 40px;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: rgb(189, 230, 247);
    padding-left:15px ;
}

  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

button{
    align-self: center;
    width:50%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    outline: none;
    background-color: rgb(30, 79, 193);
    color: white;
}
button:active{
    background-color: rgb(18, 54, 137)
}

@media (min-width: 450px) {
    .form-container{
        width:50%;
    }
}

@media (min-width: 950px) {
    .form-container{
        width:35%;
    }
}

